<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <appSettings>
	  <add key="BaseUrl" value="https://api.nytimes.com/svc/topstories/v2/{0}.json?api-key={1}" />
	  <add key="ApiKey" value="k0XA0k0jJGAVuv8Jr5wAIcKDGPuznmRJ" />
	  <add key="BaseSection" value="home" />
  </appSettings>
</configuration>